/* Universal Styles */

html, body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

h2,
h4,
h5 {
  margin: 0px 0px;
  padding: 10px 0px 10px 0px;
}
/* Header */

div.header {
  background-color: black;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 69px;
  padding: 0px 10px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 5;
}

div.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  width: 80%;
}

.nav li, a {
    display: inline-flex;
    color: seashell;
    text-decoration: underline;
    list-style: none;
    padding: 0px 10px;
}


div.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}

.logo img {
    display: inline-flex;
    height: 50px;
}

/* Mission */

.mission {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/Users/Megan/Projects/builds/TeaCozy/resources/images/img-mission-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
  width: auto;

}

.mission .content {
  background-color: black;
  width: 1200px;
  height: auto;
  text-align: inherit;
}

/* Featured */

.featured {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  margin: 80px 0px;
}

.featured .intro {
  width: 1000px;
  height: auto;
  margin: 10px 0px;
}

.feature .item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1000px;
  height: auto;
}

.featured .item {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  padding: 10px 10px 10px 10px;
  text-align: inherit;
}

/* Locations */

.locations {
  display: flex;
  background-image: url(/Users/Megan/Projects/builds/TeaCozy/resources/images/img-locations-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.locations-wrapper {
  display: flex;
  margin: 60px 0px;
}

.column {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  background-color: black;
  opacity: 1;
  margin: 15px 20px 0px 20px;
}

/* Contact */

.contact {
  height: 200px;
  width: auto;
}

.contact h5 {
  margin: 30px 0px;
}

/* Footer */

.footer {
  text-align: left;
  margin: 40px 20px;
}
